@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/Pokemon_Solid.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Pokemon2';
    src: url('../fonts/Pokemon_Hollow.ttf') format('truetype');
  }


:root{
    --Primary-Color: #ffde00;
    --Primary-Color-dark: #b3a125;
    --Secundary-Color:#ff0000;
    --Secundary-Color-dark:#cc0000;
    --Tercery-Color: #3b4cca;
    --White-Color:#f8f8f8;
    --PokeFont: 'Pokemon' ;
    --PokeFont2: 'Pokemon2' ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Primary-Color);
}


.navbar{
    background-color: var(--Tercery-Color) !important;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-brand{
    font-size: 2.1rem; 
    font-weight: bold; 
    font-family:var(--PokeFont); 
    color: var(--Primary-Color);
    position: relative;
    left: 60px;
    bottom: 8px;
}

.nav-link{
    font-size: 1.3rem;
    color: var(--Primary-Color) ;
}


.containerapi {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px; 
    margin-top: 5rem;
}

.pokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 30px; 
}

.pokemon {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--White-Color);
    border-radius: 15px; 
    padding: 50px; 
    text-align: center; 
    text-transform: uppercase;
    font-weight: bold;
}


footer{
    background-color: var(--Secundary-Color-dark);
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
}

.text-body-secondary{
    color: var(--White-Color) !important;
}

.btn1{
    background-color: var(--Secundary-Color-dark);
    padding: 6px 20px;
    color: var(--White-Color);
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;

}